.jumbotron
  %h1
    ChallengeMe

.row
  .col-md-6.col-md-offset-2
    = form_tag sessions_path, class: 'form-horizontal' do
      .form-group
        = label_tag :email, nil, class: 'control-label col-md-3'

        .col-md-9
          = email_field_tag :email, params[:email], required: true, class: 'form-control'

          %p.help-block
            = t('.judge_notice')

      .form-group
        = label_tag :password, nil, class: 'control-label col-md-3'

        .col-md-9
          = password_field_tag :password, nil, class: 'form-control'

      .form-group
        .col-md-offset-3.col-md-9
          = submit_tag('Log in', class: 'btn btn-primary')
