

.logo
  = image_tag('ribbon_text.png')

.row
  .col-md-6.col-md-offset-3
    = form_tag sessions_path, class: '' do
      .form-group
        = label_tag :email, nil, class: 'control-label sr-only'
        = email_field_tag :email, params[:email], placeholder: 'Your email adress...', required: true, class: 'form-control'

      .form-group
        = submit_tag('Enter ChallengeMe', class: 'btn btn-primary btn-lg')
.row
  .col-md-6.col-md-offset-3

    %h2
      Join groups, complete challenges and climb the leaderboards!

    %p
      Challenge Me allows you to challenge your friends, family, colleagues or strangers. Or choose a challenge somebody else created and try to complete it. If you can do it, you earn points and start your way up the leader boards.

    %p
      Use challenges to bring some fun to the office, tease your friends or share a experience with like-minded people. They can also help you to motivate your staff or your lazy children to do their work.
      Sign up with your email above and check out some challenges.