.row
  .col-md-12
    %h3
      = t('.title')

  = form_for group.challenges.new, url: new_challenge_url, method: :get, html: { class: 'form-inline new-challenge' } do |form|
    = form.hidden_field :group_id, value: group.id


    .col-md-9
      = form.label :title, class: 'sr-only'
      = form.text_field :title, required: true, placeholder: t('.title_placeholder'), class: 'form-control'

    .col-md-3
      = form.submit :submit, class: 'btn btn-primary'
