.row
  .col-md-12
    %h3
      = t('.title')

    = form_for group.challenges.new, html: { class: 'form-inline new-challenge' } do |form|
      = form.hidden_field :group_id, value: group.id

      .row
        .form-group.col-md-7
          = form.label :title, class: 'sr-only'
          = form.text_field :title, placeholder: t('.title_placeholder'), class: 'form-control'

        = form.submit :submit, class: 'btn btn-default col-md-1'