%li.media{data: { group_id: group.id }}
  = link_to group_path(group), class: 'pull-left' do
    = render 'groups/image', url: group.image_url

  .media-body
    %h4.media-heading
      = link_to group_path(group) do
        = group.name

    %p
      = group.description

    - group.users.each do |user|
      = render 'layouts/gravatar', email: user.email

    %p
      = group.challenges.count

      Challenges

    = render 'groups/actions', group: group
