- width = local_assigns[:width].presence || '100'
- height = local_assigns[:height].presence || '100'
- classes = local_assigns[:classes].presence || ''

- if url
  = image_tag(url, class: "thumbnail #{classes}", width: width, height: height)

- else
  = image_tag("http://lorempixel.com/#{width}/#{height}/abstract/1", class: 'thumbnail')
