%h1
  %span.glyphicon.glyphicon-th-large

  = @group.name

%p
  = @group.description

= render 'groups/actions', group: @group

.row
  .col-md-6
    = render 'scores'

  .col-md-6
    = render 'challenges'
