.jumbotron
  .container
    .media
      = image_tag('http://lorempixel.com/200/200/abstract/', class: 'thumbnail pull-left')

      .media-body
        %h1.media-heading
          = @group.name

          %small
            = link_to edit_group_path(@group) do
              Edit

        %p
          = @group.description

        = render 'groups/actions', group: @group

- if @review_challenges.present?
  .row
    .col-md-12
      = render 'review', challenges: @review_challenges

.row
  .col-md-4
    = render 'scores'

  .col-md-8
    = render 'challenges'

.row
  .col-md-12
    %h2
      Finished Challenges

    %hr

    %ul.list-unstyled
      = render partial: 'challenges/finished_challenge', collection: @finished_challenges_preview

    - if @finished_challenges_rest.present?
      %a.btn.btn-primary.btn-xs{data: { toggle: "collapse", target: "#collapseOne" }}
        = "and #{@finished_challenges_rest.count} more..."

      #collapseOne.collapse.in
        %ul.list-unstyled
          = render partial: 'challenges/finished_challenge', collection: @finished_challenges_rest
