.jumbotron
  .container
    .media
      = image_tag('http://lorempixel.com/200/200/abstract/', class: 'thumbnail pull-left')

      .media-body
        %h1.media-heading
          = @group.name

          %small
            = link_to edit_group_path(@group) do
              Edit

        %p
          = @group.description

        = render 'groups/actions', group: @group

- if @review_challenges.present?
  .row
    .col-md-12
      = render 'review', challenges: @review_challenges

.row
  .col-md-4
    = render 'scores'

  .col-md-8
    = render 'challenges'
