.jumbotron
  .container
    %h1
      = t('.title')

.row
  .col-md-3
    = render 'layouts/gravatar', email: @user.email, size: 256

  .col-md-6
    = form_for(@user, html: {class: 'form-horizontal'}) do |form|
      - if @user.errors.any?
        .alert.alert-danger
          %ul
            - @user.errors.full_messages.each do |message|
              %li
                = message

      .form-group
        = form.label :email

        .controls
          = @user.email

      .form-group
        = form.label :title

        .controls
          = form.text_field :title, value: @user.title, class: 'form-control'

      .form-group
        .controls
          %input.btn.btn-primary{name: "commit", type: "submit", value: "Save profile"}


          = link_to @user, method: :delete, class: 'btn btn-primary pull-right', confirm: t('.delete_confirmation') do
            %i.glyphicon.glyphicon-trash

            = t('.delete_account')
