%li
  %h3
    %span.glyphicon{class: challenge.type_icon}

    = challenge.title

    = render 'challenges/status', challenge: challenge

  %dl.dl-horizontal
    %dt
      Difficulty level:

    %dd
      = challenge.difficulty

    %dt
      Points:

    %dd
      = challenge.points

    %dt
      Description:

    %dd
      = challenge.description

  = render 'challenges/votes', challenge: challenge
