%li
  %h3
    %span.glyphicon{class: challenge.type_icon}

    = challenge.title

    = render 'challenges/status', challenge: challenge

  %dl.dl-horizontal
    %dt
      Difficulty level:

    %dd
      = challenge.difficulty

    %dt
      Points:

    %dd
      = challenge.points

    - if challenge.is_a?(PersonalChallenge)
      %dt
        Target:

      %dd
        = render 'layouts/gravatar', email: challenge.target_user.email

    %dt
      Description:

    %dd
      = challenge.description

  = render 'challenges/votes', challenge: challenge
