%li
  %h3
    %span.glyphicon{class: challenge.type_icon}

    = challenge.title

    = render 'challenges/status', challenge: challenge

  %p
    = challenge.description

  %span.badge
    = challenge.votes

  - if challenge.allow_vote?(current_user)
    = link_to challenge_vote_path(challenge), remote: true, method: :put, class: 'btn btn-primary btn-xs' do
      %span.glyphicon.glyphicon-thumbs-up

      Vote

  - if challenge.active?
    - if challenge.allow_completion?(current_user)
      = link_to challenge_complete_path(challenge), remote: true, method: :put, class: 'btn btn-success btn-md  btn-complete-challenge' do
        %span.glyphicon.glyphicon-ok
        &nbsp;
        I did it!
    - elsif challenge.participant?(current_user)
      %span.label.label-success
        %span.glyphicon.glyphicon-info-sign
        &nbsp;
        Waiting for approval
