.row
  .col-md-6.col-md-offset-2
    %h1
      Create a new Challenge

    %hr

    = form_for @challenge, as: :challenge, url: challenges_path, method: :post, html: { class: 'form-horizontal new-challenge' } do |form|
      = form.hidden_field :group_id

      .form-group
        = form.label :title, class: 'control-label col-md-3'

        .col-md-9
          = form.text_field :title, class: 'form-control'

      .form-group
        = form.label :description, class: 'control-label col-md-3'

        .col-md-9
          = form.text_area :description, class: 'form-control'

      .form-group
        = form.label :difficulty, class: 'control-label col-md-3'

        .col-md-9
          = form.select :difficulty, @challenge.difficulty_options, {}, class: 'form-control'

      .form-group
        = form.label :_type, class: 'control-label col-md-3'
        = form.hidden_field :_type

        .col-md-9
          %span.form-control
            = form.object.class.model_name.human

      = render("challenges/types/#{form.object.class.to_s.underscore}", form: form) rescue nil

      .form-group
        .col-md-offset-3.col-md-9
          = form.submit 'Create challenge', class: 'btn btn-primary'

          = link_to 'Cancel', group_path(@challenge.group_id), class: 'btn'
