%h1
  New Challenge

.row
  .col-md-6.col-md-offset-2
    = form_for @challenge, html: { class: 'form-horizontal new-challenge' } do |form|
      = form.hidden_field :group_id

      .form-group
        = form.label :title, class: 'control-label col-md-3'

        .col-md-9
          = form.text_field :title, class: 'form-control'

      .form-group
        = form.label :description, class: 'control-label col-md-3'

        .col-md-9
          = form.text_area :description, class: 'form-control'

      .form-group
        = form.label :_type, class: 'control-label col-md-3'

        .col-md-9
          = form.select :_type, @challenge.type_options, {}, class: 'form-control'

      .form-group
        = form.label :difficulty, class: 'control-label col-md-3'

        .col-md-9
          = form.select :difficulty, @challenge.difficulty_options, {}, class: 'form-control'

      .form-group
        = form.label :due_date, class: 'control-label col-md-3'

        .col-md-9
          = form.text_field :due_date, class: 'form-control'

      .form-group
        .col-md-offset-3.col-md-9
          = form.submit 'Create challenge', class: 'btn btn-primary'
