%nav.navbar.navbar-default
  .navbar-header
    = link_to('ChallengeMe', root_url, class: 'navbar-brand')

  .navbar-collapse
    - if current_user.groups.present?
      %ul.nav.navbar-nav
        %li.dropdown
          = link_to '#', class: 'dropdown-toggle', data: { toggle: 'dropdown' } do
            Groups

            %b.caret

          %ul.dropdown-menu
            - current_user.groups.each do |group|
              %li
                = link_to group_path(group.id) do
                  = group.name

    %ul.nav.navbar-nav.navbar-right
      %li
        - if current_user
          %p.navbar-text
            %i.glyphicon.glyphicon-user

            = link_to current_user.email, edit_user_path(current_user)

            = link_to logout_path do
              %i.glyphicon.glyphicon-off{ :title => 'Logout' }

        - else
          %p.navbar-text
            = link_to 'Sign Up', signup_path

            or

            = link_to 'Log In', login_path
