!!!

%html
  %head
    %title
      ChallengeMe

    %meta{charset: 'utf-8'}
    %meta{:'http-equiv' => 'X-UA-Compatible', content: 'IE=Edge,chrome=1'}
    %meta{name: 'viewport', content: 'width=device-width, initial-scale=1.0'}

    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true

    = csrf_meta_tags

  %body
    .container
      %nav.navbar.navbar-default
        .navbar-header
          = link_to('ChallengeMe', root_url, class: 'navbar-brand')

        .navbar-collapse
          %ul.nav.navbar-nav.navbar-right
            %li
              - if current_user
                %p.navbar-text
                  %i.glyphicon.glyphicon-user

                  = current_user.email

                  = link_to 'Log Out', logout_path
              - else
                %p.navbar-text
                  = link_to 'Sign Up', signup_path

                  or

                  = link_to 'Log In', login_path

      = render 'layouts/flash'

      = yield

    = javascript_include_tag 'application', 'data-turbolinks-track' => true
